
  body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

h1 {
  text-align: center;
  margin-bottom: 50px;
}

.block-wrap {
  margin: 0 auto;
  max-width:300px;  
  display: flex;
  flex-wrap: wrap;
  background-color: #A6D8FF;
  padding: 5px;
}

.block {
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: #072A43;
  cursor: pointer;
  transition: 0.2s;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
}
.block:hover {
  background-color: #019D36;
  transition: 0.2s;
}

p {
  text-align: center;
  font-size: 25px;
  margin-top: 40px;
}

@media (max-width: 341px) {

  h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
  }
  p {
    font-size: 25px;
  }
  .block-wrap {
      width: 100vw;       
      justify-content: space-around;
  }
  .block {
    width: 45px;
    height: 45px;

  }
  
}

.hide-target {
   margin: 0 auto;
   text-align: center;
   padding: 10px;
   background: #333;
   color: #fff;
   font-size: 16px;
   font-weight: bold;
   display: block;
   margin-bottom: 30px;
   outline: none;
   border: none;
   border-radius: 10px;
   cursor: pointer;
   transition: all 0.5s ease;
   
}
.hide-target:hover {
   background-color: #595959;
   transition: all 0.5s ease;
}
.active {
   background: #fff;
   background-image: url('../img/gold.png');
   background-position: center center;
   background-repeat: no-repeat;
   background-size: 90%;
   transition: 0.5s ease;
}
.hiden {
   visibility: hidden;
   transition: 0.5s ease;
}